@model Valores
@{
}

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Otra operacion</a>

<h1>Cos</h1>

<form asp-action="Coseno" method="post">
    <div class="input-group-prepend">
        <label>Ingresar el numero</label>
        <input asp-for="numero1" type="number" class="form-control" required>
    </div>
    <p>
        <input class="btn btn-primary" type="submit" value="Calcular">
    </p>
</form>
